 .center {
        margin-left: auto;
        margin-right: auto;
    }

    .responsive {
        width: 100%;
        height: auto;
        /*border: 2px solid #d4d4d4;*/
    }

    * {
        box-sizing: border-box;
    }

    .img-container {
        position: relative;
    }

    .material-icons {
        vertical-align: -6px;
    }

    .img-pos-wnd {
        position: absolute;
        border: 1px solid #d4d4d4;
        /*set the size of the lens:*/
        width: 100px;
        height: 30px;
        background-color: lightblue;
        opacity: 0.75;
    }

    .gtext {
        background-color: green;
        color: white;
        padding: 2px;
    }

    .rtext {
        background-color: red;
        color: white;
        padding: 2px;
    }

    .cell {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
    }

    table.timers {
        border: 1px solid black;
        border-collapse: collapse;
        align-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

        table.timers tr {
            border: 1px solid black;
            border-collapse: collapse;
            align-content: center;
            text-align: center;
            padding: 5px;
        }

        table.timers td {
            border: 1px solid black;
            border-collapse: collapse;
            align-content: center;
            text-align: center;
            padding: 5px;
        }

        table.timers th {
            border: 1px solid black;
            border-collapse: collapse;
            align-content: center;
            text-align: center;
            padding: 5px;
        }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }

    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
        }
    }
